* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar {
  width: 0;
}

.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 5px 17px -4px #20222283;
  z-index: 1000;
  position: fixed;
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-left: 20%;
}

#menu {
  list-style: none;
}

#menu li {
  display: inline-block;
  padding: 0px 40px;
  font-size: 3rem;
}

#menu li a {
  transition: width 1000ms;
  color: #2aaec5;
}

#menu li a:hover {
  color: #ff0000;
  transform: scale(1.1);
  width: 250%;
}

.button {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  color: #2c9caf;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2aaec5;
}

button:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

button:hover::before {
  width: 250%;
}

li,
a,
button {
  font-family: 'Poppins' sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgb(0, 40, 75);
  text-decoration: none;
}

.logo-container {
  width: 200px;
  height: 120px;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.toggle-wrapper {
  display: none;
}

.main-header-container {
  height: 100vh;
  width: 100%;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
   background-color: #314a6bc2;
}

.about-section {
  height: 50vh;
  background-color: #314a6bc2;
  width: 100%;
}


.services-container {
  padding-left: 4%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5%;
  row-gap: 1%;
  height: 300vh;
  background-color: #314a6bc2;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.vertical-line {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  grid-column: 1 / span 2;
  left: 50%;
  top: 0;
  bottom: 0;
  transform: translateX(-50%);
  width: 5%;
  height: 90%;
  margin-top: 18%;
}

.vertical-line::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 220vh;
  background-color: #dbd4d4;
  transform: translateX(-50%);
 
}


.service-section {
  padding: 10px;
  position: relative;
  margin-left: 15%;
}

/* Styles for numbers and block lines */
.number-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  width: 100%;
  
 
}

.number-container span {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  padding: 5px 16px;
  border-radius: 50%;
  z-index: 1;
  margin-bottom: 700px; 
}
.service-header {
  grid-column: 1 / span 2;
  height: 50%;
  padding: 20px;
}
.service-header h1{
  margin-bottom: 5%;
  color:#ffffff;
}
.service-header img{
 width: 45%;
  height: auto;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
}

.secure-info {
  height: 20%;
  margin: 0;
  width: 40%;
  margin-bottom: 4%;
  color:#ffffff;
}
.service-section h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color:#ffffff;
}

.service-section h3 {
  font-size: 1rem;
  font-weight: 400;
  color: #dbd4d4;
  margin-bottom: 20px;
  width: 70%;
}



.service-section img {
  width: 70%;
  height: auto;
  border-radius: 10px;
}


.contact-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  height: 100vh;
  background-image: url("https://www.livinspaces.net/wp-content/uploads/2019/07/smart-home-featured.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}
.contact-container h1{
  margin-bottom: 4%;
  color:  #fff;

}
.contact-container h3{
  margin-bottom: 5%;
  color: #ffffff93;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width:40% ;
  background-color: #314a6bc2;
  padding: 5%;
  border-radius: 10px;
  position: relative;
  height: 60vh;
}

.message {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
  padding-bottom: 5%;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}
.first-child {
  flex: 2;
  margin-right: 10%;
}

.last-child {
  flex: 2; 
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.input01 {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}

.form label .input01 + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input01:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}
.location-section {
 display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #314a6bc2;
  height: fit-content;
  padding: 10%;
 
}


.line-box {
  padding-left: 20px;
  padding-right: 20px;
}

.line {
  position: absolute;
  width: 80%;
  height: 2px;
  left: 10%;
  background-color: #dbd4d4;
}
.location-items{
  width: 30%;
 
}

.footer-el {
  text-align: center;
  width: 30%;
}
.news-letter {
  text-align: left;
  width: 30%;
}

.news-letter-info {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.newsletter-form {
  display: flex;
  gap: 10px;
  align-items: center;
}

input[type="email"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.newsletter-form button{
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #2c9caf;
  color: #fff;
  cursor: pointer;
}



footer {
  background-color: rgb(255, 255, 255);
  color: #000000;
  padding: 5%;
}

.disclamer {
  margin-bottom: 20px;
  text-align: center;
  padding: 4%;
  font-size: 15px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #314a6bc2;
  padding: 0 5%;
  border-radius: 15px;
  height: 80px; 
}


.copy-right {
  margin-left: 10px;
  z-index: 1;
  font-style: italic;
  font-size: 14px;
  color: #d3c7c7;
  font-weight: lighter; 
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.footer-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #000000;
  font-size: 24px;
  transition: color 0.3s ease;
  z-index: 1;
}

.footer-icons a:hover {
  color: #ffffff;
}

#confirmation-message {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #2c9caf;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}


#confirmationMessage {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #2c9caf;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

/* WhatsApp Popup Styling */
.whatsapp-popup {
  position: fixed;
  bottom: 20px;
  right: 40px;
  display: none;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #25d366;
  animation: fadeIn 2s 5s forwards infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.whatsapp-popup a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ffeded;
}

.whatsapp-popup a i {
  font-size: 52px; /* Increased font size for the WhatsApp icon */
}

.whatsapp-popup a:focus {
  outline: none;
}





@media screen and (max-width: 768px) {
  body {
    margin: 0;
    overflow-x: hidden; 
  }
  .header-block {
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 5px 17px -4px #20222283;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    position:unset;
  }

  .container {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
    animation-name: slideFromTop;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    justify-content: center;
    margin-right: 7vh;
  }

  @keyframes slideFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    50% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  #menu li {
    display: block;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 15%;
  }

  #menu li a {
    transition: width 1000ms;
    color: #2aaec5;
    margin-bottom: 15%;
    font-size: 15px;
  }

  #menu li a:hover {
    color: #ff0000;
    transform: scale(1.1);
    width: 250%;
  }

  .button {
    padding: 1em 2em;
    font-weight: bold;
    font-size: 15px;
  }

  .logo-container {
   
    width: 100px;
    height: 120px;
  }

  .toggle-wrapper {
    display: block;
    position:st;
    top: 5%;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    z-index: 1000;
  }

  #checkbox {
    display: none;
  }

  .toggle {
    position: relative;
    width: 30px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: calc(4px * 3 + 11px * 2);
  }

  .bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: #000000;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
  }

  .bar--top {
    bottom: calc(50% + 5px + 4px/ 2);
    transition-property: bottom,transform;
    transition-delay: calc(0s + 0.35s),0s;
  }

  .bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity;
    transition-delay: calc(0s + 0.35s);
  }

  .bar--bottom {
    top: calc(50% + 5px + 4px/ 2);
    transition-property: top,transform;
    transition-delay: calc(0s + 0.35s),0s;
  }

  #checkbox:checked + .toggle .bar--top {
    bottom: calc(50% - 4px/ 2);
    transform: rotate(135deg);
    transition-delay: 0s,calc(0s + 0.35s);
  }

  #checkbox:checked + .toggle .bar--middle {
    opacity: 0;
    transition-duration: 0s;
    transition-delay: calc(0s + 0.35s);
  }

  #checkbox:checked + .toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(225deg);
    transition-delay: 0s,calc(0s + 0.35s);
  }
  .about-section {
   display: none;
  }

  .main-header-container {
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3%;
    display: none;
  }
 
  
  .services-container {
    height: auto;
    background-color: #314a6bc2;
    width: 100%;
    margin:auto;
    display: inline-block;
    padding-right: 3%;
  }
  
 
  
  .service-section {
    background-color: #ffffff3b;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 40px 10px;
  }
  
  .service-section h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .service-section h3 {
    width: 100%;
    font-size: 0.9rem;
    font-weight: 400;
    color: #dbd4d4;
    margin-bottom: 20px;
  }
  
  .service-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .service-header {
    width: 100%;
    margin-top: 60%;
  }
  
  .service-header h1 {
    color: #ffffff;
  }
  
  .service-header img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .secure-info {
    width: 100%;
    color: #ffffff;
  }
  
  .secure-info h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .vertical-line {
    display: none;
  }
  .contact-container {
    width: 100%;
    background-attachment: scroll;
    height: fit-content;
  }


  .form {
    width: 80%;
    font-size: 14px;
    height: 45%;
    padding: 20px;
    margin: 0 auto; /* Corrected "0 auto" for margin */
  }

  .form label .input {
    padding: 8px;
  }

  .form label .input + span {
    top: 10px;
    font-size: 0.8em;
  }

  .form label .input:placeholder-shown + span {
    top: 10px;
    font-size: 0.8em;
  }

  .form label .input:focus + span, .form label .input:valid + span {
    top: 25px;
    font-size: 0.6em;
  }
  .line-box {
  display: none;
  }
  .location-section{
    width: 100%;
    display: block;
    
  }
  .location-items{
    width: 100%;
    margin-bottom: 20%;
    line-height: 50px;
    color: #dbd4d4;
  }
  .location-items h1{
    font-size: 1.5rem;
  }
  .location-items h2{
    font-size: 1rem;
  }
  .location-items p{
    font-size: 0.9rem;
    
  }
  
.footer-el {
 display: none;
}
.news-letter {
  margin-bottom: 10%;
  width: 100%;
}
.news-letter-info h1{
  font-size: 15px;
}
.news-letter-info p{
  font-size: 0.9rem;
  margin-bottom: 5%;
  margin: 5%;
}

.news-letter-info {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  
}

.newsletter-form {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 5%;
}

input[type="email"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.newsletter-form button  {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #2c9caf;
  color: #fff;
  cursor: pointer;
}



footer {
  background-color: rgb(255, 255, 255);
  color: #000000;
  padding: 5%;
}

.disclamer {
  margin-bottom: 20px;
  text-align: left;
  padding: 4%;
  font-size: 0.9rem;
  width: 100%;
}
.footer-content {
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  background-color: #314a6bc2;
  padding: 10%;
  border-radius: 15px;
  height: 20vh; 
  text-align: center;
}


.copy-right {
 
  z-index: 1;
  font-style: italic;
  font-size: 14px;
  color: #d3c7c7;
  font-weight: lighter; 
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.footer-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #000000;
  font-size: 24px;
  transition: color 0.3s ease;
  z-index: 1;
}

.footer-icons a:hover {
  color: #ffffff;
}

#confirmation-message {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #2c9caf;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}


#confirmationMessage {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #2c9caf;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

/* WhatsApp Popup Styling */
.whatsapp-popup {
  position: fixed;
  bottom: 20px;
  right: 40px;
  display: none;
  padding: 15px;
  height:7.6%;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #25d366;
  animation: fadeIn 2s 5s forwards infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.whatsapp-popup a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ffeded;
}

.whatsapp-popup a i {
  font-size: 35px; /* Increased font size for the WhatsApp icon */
}

.whatsapp-popup a:focus {
  outline: none;
}



  
 
}


@media screen and (min-width: 769px) and (max-width: 1023px) {
  body {
    margin: 0;
    overflow-x: hidden; 
  }
  .header-block {
    flex-direction: row; 
    justify-content: space-between; 
    padding: 2%;
    box-shadow: 4px 5px 17px -4px #20222283;
    height: fit-content;
    padding-left: 10%;
  }

  .logo-container {
    display: block;
    width: 200px;
    height: 120px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 0;
    width: 100%;
    margin-right: 15%;
  }

  #menu {
    list-style: none;
    display: flex;
  }

  #menu li {
    display: inline-block;
    padding: 0px 10px;
  }

  #menu li a {
    transition: width 1000ms;
    color: #2aaec5;
  }

  #menu li a:hover {
    color: #ff0000;
    transform: scale(1.1);
    width: 250%;
  }

  .button {
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #2c9caf;
    transition: all 1000ms;
    font-size: 12px;
    outline: 2px solid #2aaec5;
    text-align: center;
    margin-right: 5px;
    margin-left: 15%;
  }

  .button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #268391;
  }

  .button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }

  .button:hover::before {
    width: 250%;
  }

  .logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .toggle-wrapper {
    display: none;
  }
}
