* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 5px 17px -4px #20222283;
}

.container {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-left: 20%;
}

#menu {
    list-style: none;
}

#menu li {
    display: inline-block;
    padding: 0px 40px;
    font-size: 3rem;
}

#menu li a {
    transition: width 1000ms;
    color: #2aaec5;
}

#menu li a:hover {
    color: #ff0000;
    transform: scale(1.1);
    width: 250%;
}

.button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #2c9caf;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2aaec5;
}

button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #268391;
}

button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

button:hover::before {
    width: 250%;
}

li,
a,
button {
    font-family: 'Poppins' sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 40, 75);
    text-decoration: none;
}

.logo-container {
    width: 200px;
    height: 120px;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.toggle-wrapper {
    display: none;

  }


@media screen and (max-width: 768px) {
    .header-block {
    flex-direction: column;
      align-items: center;
      box-shadow: 4px 5px 17px -4px #20222283;
      justify-content: center;
     
     
    } 
    .container {
        display: none;
        flex-direction: column;
        align-items: center;
        height: 100%;
        animation-name: slideFromTop;
        animation-duration: 1s; 
        animation-fill-mode: forwards;
        justify-content: center;
        margin-right: 7vh;
      
      }
      
      @keyframes slideFromTop {
        0% {
          transform: translateY(-100%);
          opacity: 0;
        }
        50% {
            transform: translateY(-100%);
            opacity: 0;
          }

        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
      
    
    #menu li {
      display: block;
      padding: 15px 0;
      text-align: center;
      margin-bottom: 15%;
     
    }
    
    #menu li a {
        transition: width 1000ms;
        color: #2aaec5;
        margin-bottom: 15%;
        font-size: 15px;
    }
    #menu li a:hover {
        color: #ff0000;
        transform: scale(1.1);
        width: 250%;
    }
    
    .button {
        padding: 1em 2em;
        font-weight: bold;
        font-size: 15px;
        
    }
    .logo-container {
        width: 200px;
        height: 120px;
        background-color: #2aaec5;
    }
    .toggle-wrapper {
        display: block;
        position: absolute;
        top: 5%;
        right: 0;
        margin-top: 20px;
        margin-right: 20px;
      }
      
      #checkbox {
        display: none;
      }
      
      .toggle {
        position: relative;
        width: 30px;
        cursor: pointer;
        margin: auto;
        display: block;
        height: calc(4px * 3 + 11px * 2);
      }
      
      .bar {
        position: absolute;
        left: 0;
        right: 0;
        height: 4px;
        border-radius: calc(4px / 2);
        background: #000000;
        color: inherit;
        opacity: 1;
        transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
      }
      
      .bar--top {
        bottom: calc(50% + 5px + 4px/ 2);
        transition-property: bottom,transform;
        transition-delay: calc(0s + 0.35s),0s;
      }
      
      .bar--middle {
        top: calc(50% - 4px/ 2);
        transition-property: opacity;
        transition-delay: calc(0s + 0.35s);
      }
      
      .bar--bottom {
        top: calc(50% + 5px + 4px/ 2);
        transition-property: top,transform;
        transition-delay: calc(0s + 0.35s),0s;
      }
      
      #checkbox:checked + .toggle .bar--top {
        bottom: calc(50% - 4px/ 2);
        transform: rotate(135deg);
        transition-delay: 0s,calc(0s + 0.35s);
      }
      
      #checkbox:checked + .toggle .bar--middle {
        opacity: 0;
        transition-duration: 0s;
        transition-delay: calc(0s + 0.35s);
      }
      
      #checkbox:checked + .toggle .bar--bottom {
        top: calc(50% - 4px/ 2);
        transform: rotate(225deg);
        transition-delay: 0s,calc(0s + 0.35s);
      }
}


@media screen and (min-width: 769px) and (max-width: 1023px) {
    .header-block {
        flex-direction: row; 
        justify-content: space-between; 
        padding: 2%;
        box-shadow: 4px 5px 17px -4px #20222283;
        height: fit-content;
        padding-left: 10%;
    }

    .logo-container {
        display: block;
        width: 200px;
        height: 120px;

        
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 0;
        width: 100%;
        margin-right: 15%;
       
    }

    #menu {
        list-style: none;
        display: flex;
    }

    #menu li {
        display: inline-block;
        padding: 0px 10px;

        
    }

    #menu li a {
        transition: width 1000ms;
        color: #2aaec5;
    }

    #menu li a:hover {
        color: #ff0000;
        transform: scale(1.1);
        width: 250%;
    }

    .button {
        border: none;
        border-radius: 5px;
        font-weight: bold;
        letter-spacing: 5px;
        color: #2c9caf;
        transition: all 1000ms;
        font-size: 12px;
        outline: 2px solid #2aaec5;
        text-align: center;
        margin-right: 5px;
        margin-left: 15%;
    }
    .button:hover {
        color: #ffffff;
        transform: scale(1.1);
        outline: 2px solid #70bdca;
        box-shadow: 4px 5px 17px -4px #268391;
    }

    .button::before {
        content: "";
        position: absolute;
        left: -50px;
        top: 0;
        width: 0;
        height: 100%;
        background-color: #2c9caf;
        transform: skewX(45deg);
        z-index: -1;
        transition: width 1000ms;
    }

    .button:hover::before {
        width: 250%;
    }


    .logo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  

    .toggle-wrapper {
        display: none;
    }
} 
