name: Deploy to cPanel Server

on:
  push:
    branches:
      - main 

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: cPanel Deploy Action
      uses: pinkasey/cpanel-deploy-action@v1.1.1
      with:
        ftp-server: ${{ secrets.FTP_SERVER }}
        ftp-username: ${{ secrets.FTP_USERNAME }}
        ftp-password: ${{ secrets.FTP_PASSWORD }}
        cpanel_domain: smarthomesug.com
        remote_dir: /public_html
